absl-py==1.4.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
ajax==3.0.0
antiorm==1.2.1
asgiref==3.6.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.1.0
ChatterBot==1.0.1
chatterbot-corpus==1.2.0
click==8.1.3
contourpy==1.0.7
Corpus==0.4.2
cycler==0.11.0
db==0.1.1
db-sqlite3==0.0.1
decorator==4.4.2
distlib==0.3.6
Django==4.2.1
django-appconf==1.0.5
django-filter==23.2
django-otp==1.1.6
djangorestframework==3.14.0
env==0.1.0
filelock==3.10.7
Flask==2.2.3
Flask-Cors==4.0.0
Flask-MQTT==1.1.1
flatbuffers==23.5.9
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.5.0
gast==0.4.0
google-auth==2.18.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.2
h5py==3.8.0
huggingface-hub==0.14.1
idna==3.4
imageio==2.27.0
imageio-ffmpeg==0.4.8
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
keras==2.13.1rc0
kiwisolver==1.4.4
libclang==16.0.0
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.2
mathparse==0.1.2
matplotlib==3.7.1
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
nltk==3.8.1
numpy==1.24.2
oauthlib==3.2.2
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.1
pafy==0.5.5
paho-mqtt==1.6.1
pandas==1.5.3
pandas-datareader==0.10.0
Pillow==9.5.0
Pint==0.21
platformdirs==3.2.0
proglog==0.1.10
protobuf==4.21.12
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyJWT==2.7.0
pymongo==3.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
regex==2023.5.5
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sklearn==0.0.post1
SQLAlchemy==1.2.19
sqlparse==0.4.4
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tensorflow==2.13.0rc0
tensorflow-estimator==2.13.0rc0
tensorflow-macos==2.13.0rc0
termcolor==2.3.0
threadpoolctl==3.1.0
tokenizers==0.13.3
torch==2.0.1
tqdm==4.65.0
transformers==4.29.2
twilio==8.2.0
typing_extensions==4.5.0
urllib3==1.26.15
virtualenv==20.21.0
Werkzeug==2.2.3
wget==3.2
wrapt==1.14.1
yarl==1.9.2
youtube-dl==2021.12.17
